.element.element-promotion-content {
  padding-bottom:197px;
}

.element-promotion-content .element-title .inline-title {
  background:-webkit-linear-gradient(360deg, #35a8fa 0%, #3892f8 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.element-promotion-content .element-title h2 {
  font-size:72px;
}

.promotion-content-bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

.promotion-content-img {
  position:absolute;
  top:-150px;
  left:auto;
  width:100%;
  height:100%;
}

